*{
  padding: 0;
  box-sizing: border-box;
}

html,body{
  background: cornsilk;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: fixed;
  top: 0;
  width:100%


}

.navbar__logo{
  color: rgb(5, 5, 5);


}

.navbar__list{
  list-style: none;

}

.navbar__item{
  display: inline-block;


}

.navbar__link{
display: inline-block;
text-decoration:none;
text-transform: uppercase;
font-weight: 500;
color: rgb(9, 48, 48);
padding: 2rem;
}

.navbar__link--active{
  font-weight: 900;

} 
@media only screen and (max-width:900px){
  .navbar{
    flex-direction:column;
  }
  .navbar__logo{
    padding: 1rem;
  }
  .navbar__link{
    padding: .5rem;

  }
}

.main__content{
  height: 80vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content:nth-of-type(2){
  background-color: indianred; 
}

.main__content:nth-of-type(3){
 background-color: teal; 
}

.main__content:nth-of-type(4){
  background-color: burlywood; 
}

.main__content:nth-of-type(5){
  background-color: skyblue; 
}

.main__content:nth-of-type(6){
  background-color: firebrick; 
}